configuration {
width: 40;
lines: 5;
opacity: 50;
color-enabled: true;
color-window: "#141021, #6345b8, #9568a1";
color-normal: "#141021, #ffeefc, #312842, #6345b8, #ffeefc";
color-active: "#141021, #c05c47, #312842, #c05c47, #ffeefc";
color-urgent: "#141021, #e4b226, #312842, #e4b226, #ffeefc";
padding: 50;
font: "Dank Mono 20";
separator-style: "solid";
hide-scrollbar: true;
display-drun: "Apps";
display-window: "Window";
show-icons:true;
modi: "window,ssh";
}
